language: python
python:
  - "2.7"
  - "3.3"
  - "3.5"
  - "3.5-dev"  # 3.5 development branch
  - "3.6"
  - "3.6-dev"  # 3.6 development branch
  - "3.7-dev"  # 3.7 development branch
# command to install dependencies
install:
  - pip install pytest pytest-cov
  - easy_install distribute
  - pip install -r requirements.txt
# command to run tests
script:
#- pytest --with-coverage --cover-package=app
- pytest --cov=. --cov-report term-missing
- pytest --cov=. --cov-report te
